n8n/auth.verify.json
{
  "name": "POST /auth/verify",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/verify",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "94b9d61b-b5f2-424b-a56c-5f8657a68dee",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "f5a61e2f-3bfe-4ddc-a82f-2a04834dee64",
      "notes": "x-api-key required"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d8b2b455-f055-4105-ac46-8359aefab2a0",
              "leftValue": "={{ $json.headers[\"x-api-key\"] }}",
              "rightValue": "={{ $env.SHARED_API_KEY }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "65d50718-3259-4ba4-9b04-eee21349c937",
      "name": "API Key Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: \"unauthorized\", code: \"no_key\" }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "c8d42cdc-beba-4af7-80d3-7657a875b98c",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [680, 460]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const rawCode = String($json.body?.code || \"\").trim();\nconst normalize = (value) => String(value || \"\").trim().toLowerCase();\nconst inputCode = normalize(rawCode);\n\nconst codes = {\n  samuel: normalize($env.CODE_SAMUEL),\n  mathilde: normalize($env.CODE_MATHILDE),\n  amis_samuel: normalize($env.CODE_AMIS_SAMUEL),\n  amis_mathilde: normalize($env.CODE_AMIS_MATHILDE),\n};\n\nconst role = Object.entries(codes).find(([, code]) => code && code === inputCode)?.[0];\nif (!role) {\n  return { json: { statusCode: 401, error: \"Code invalide\", code: \"invalid_group_code\" } };\n}\n\nconst apiKey = $env.AIRTABLE_PAT || $env.AIRTABLE_API_KEY;\nconst baseId = $env.AIRTABLE_BASE_ID;\nif (!apiKey || !baseId) {\n  return { json: { statusCode: 500, error: \"Airtable env vars missing\", code: \"airtable_config_missing\" } };\n}\n\nconst airtable = `https://api.airtable.com/v0/${baseId}`;\nconst formula = `{role} = '${role.replace(/'/g, \"\\\\'\")}'`;\nconst searchUrl = `${airtable}/Users?maxRecords=1&filterByFormula=${encodeURIComponent(formula)}`;\nconst lookup = await fetch(searchUrl, { headers: { Authorization: `Bearer ${apiKey}` } });\nif (!lookup.ok) {\n  return { json: { statusCode: 500, error: \"Airtable user lookup failed\", code: \"airtable_users_failed\" } };\n}\n\nconst data = await lookup.json();\nconst record = data.records?.[0];\nif (!record) {\n  return { json: { statusCode: 401, error: \"Aucun utilisateur pour ce groupe\", code: \"group_user_missing\" } };\n}\n\nconst sessionToken = crypto.randomUUID();\nconst expiresAt = new Date(Date.now() + 30 * 24 * 60 * 60 * 1000).toISOString();\nconst patch = await fetch(`${airtable}/Users/${record.id}`, {\n  method: \"PATCH\",\n  headers: {\n    Authorization: `Bearer ${apiKey}`,\n    \"Content-Type\": \"application/json\"\n  },\n  body: JSON.stringify({\n    fields: {\n      session_token: sessionToken,\n      session_expires_at: expiresAt\n    }\n  })\n});\n\nif (!patch.ok) {\n  return { json: { statusCode: 500, error: \"Airtable session update failed\", code: \"airtable_session_failed\" } };\n}\n\nreturn {\n  json: {\n    session_token: sessionToken,\n    user: {\n      id: record.fields.id || record.id,\n      name: record.fields.name || role,\n      role\n    }\n  }\n};"
      },
      "id": "64713397-571e-48a3-b211-c43e749f3808",
      "name": "Verify Group Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.statusCode ? { error: $json.error, code: $json.code } : $json) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "id": "79f0ff5d-0054-44e4-aff8-941c79c4d4ac",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [1120, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "API Key Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Key Guard": {
      "main": [
        [
          {
            "node": "Verify Group Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Group Code": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "templateCredsSetupCompleted": false,
    "handoffSection": "code auth"
  }
}
