n8n/episodes.create.json
{
  "name": "POST /episodes",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "episodes",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8d0f518c-768a-4601-a2c7-123b283cfbe5",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "f3159ec0-0a3f-4f03-b6ce-3aa3f4fd0f71",
      "notes": "x-api-key and x-session-token required"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9aa73e14-9c49-4c10-a55b-343a527d709f",
              "leftValue": "={{ $json.headers[\"x-api-key\"] }}",
              "rightValue": "={{ $env.SHARED_API_KEY }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a7257135-a761-4f03-8d1e-c9eaa97738e9",
      "name": "API Key Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: \"unauthorized\", code: \"no_key\" }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "d8911a8f-e810-4b65-bd37-71fde38db806",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [680, 460]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const token = $json.headers[\"x-session-token\"];\nconst apiKey = $env.AIRTABLE_PAT || $env.AIRTABLE_API_KEY;\nconst baseId = $env.AIRTABLE_BASE_ID;\n\nif (!token) return { json: { statusCode: 401, error: \"expired\", code: \"session_missing\" } };\nif (!apiKey || !baseId) {\n  return { json: { statusCode: 500, error: \"Airtable env vars missing\", code: \"airtable_config_missing\" } };\n}\n\nconst airtable = `https://api.airtable.com/v0/${baseId}`;\nconst formula = `AND({session_token} = '${token.replace(/'/g, \"\\\\'\")}', IS_AFTER({session_expires_at}, NOW()))`;\nconst url = `${airtable}/Users?maxRecords=1&filterByFormula=${encodeURIComponent(formula)}`;\n\nconst res = await fetch(url, { headers: { Authorization: `Bearer ${apiKey}` } });\nif (!res.ok) {\n  return { json: { statusCode: 500, error: \"Airtable user lookup failed\", code: \"airtable_users_failed\" } };\n}\n\nconst data = await res.json();\nconst record = data.records?.[0];\nif (!record) return { json: { statusCode: 401, error: \"expired\", code: \"session_invalid\" } };\n\nreturn {\n  json: {\n    session: {\n      airtable_id: record.id,\n      id: record.fields.id || record.id,\n      name: record.fields.name,\n      role: record.fields.role,\n    },\n    body: $json.body,\n  },\n};"
      },
      "id": "a52caea0-fe2d-44df-a5d7-94b2083a42e6",
      "name": "Session Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c4833e8f-788d-472f-853b-e4b26d9bec3c",
              "leftValue": "={{ Boolean($json.session) }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c4469831-14ce-450e-a5f0-17f4113c8ad2",
      "name": "Session Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [840, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 401 }}"
        }
      },
      "id": "14fe5a46-0281-4e5f-96d5-8f606d7be390",
      "name": "Session Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [1040, 360]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const apiKey = $env.AIRTABLE_PAT || $env.AIRTABLE_API_KEY;\nconst baseId = $env.AIRTABLE_BASE_ID;\nconst session = $json.session;\nconst body = $json.body || {};\n\nif (!session || ![\"samuel\", \"mathilde\"].includes(session.role)) {\n  return [{ json: { statusCode: 403, error: \"forbidden\", code: \"episode_create_forbidden\" } }];\n}\n\nconst title = String(body.title || \"\").trim();\nconst date = String(body.date || \"\").trim();\nconst place = String(body.place || \"\").trim();\nconst duration = String(body.duration || \"\").trim();\nconst coverUrl = String(body.cover_url || \"\").trim();\nconst tags = Array.isArray(body.tags)\n  ? body.tags.map((tag) => String(tag).trim()).filter(Boolean)\n  : [];\n\nif (!title || !date || !place) {\n  return [{ json: { statusCode: 400, error: \"title, date and place are required\", code: \"episode_invalid\" } }];\n}\n\nconst airtable = `https://api.airtable.com/v0/${baseId}`;\nconst headers = {\n  Authorization: `Bearer ${apiKey}`,\n  \"Content-Type\": \"application/json\",\n};\n\nconst listRes = await fetch(`${airtable}/Episodes?fields%5B%5D=number&sort%5B0%5D%5Bfield%5D=number&sort%5B0%5D%5Bdirection%5D=desc&maxRecords=1`, { headers });\nif (!listRes.ok) {\n  return [{ json: { statusCode: 500, error: \"Airtable episodes lookup failed\", code: \"airtable_episodes_failed\" } }];\n}\nconst listData = await listRes.json();\nconst maxNumber = Number(listData.records?.[0]?.fields?.number || 0);\nconst number = maxNumber + 1;\n\nconst fields = { title, date, place, number };\nif (duration) fields.duration = duration;\nif (coverUrl) fields.cover_url = coverUrl;\nif (tags.length) fields.tags = tags;\n\nconst createRes = await fetch(`${airtable}/Episodes`, {\n  method: \"POST\",\n  headers,\n  body: JSON.stringify({ fields }),\n});\n\nconst created = await createRes.json();\nif (!createRes.ok) {\n  return [{ json: { statusCode: 500, error: created.error?.message || \"Airtable episode create failed\", code: \"airtable_episode_create_failed\" } }];\n}\n\nconst f = created.fields;\nreturn [{\n  json: {\n    episode: {\n      id: f.id || created.id,\n      number: f.number,\n      title: f.title,\n      date: f.date,\n      place: f.place,\n      duration: f.duration || \"\",\n      tags: f.tags || [],\n      cover_url: f.cover_url || \"\",\n    },\n  },\n}];"
      },
      "id": "e4eeb0f4-9e8d-49f4-a2ff-769d586e1494",
      "name": "TODO - Create Episode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "id": "ca3afe18-9390-46db-b7b0-cd39ae120206",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [1260, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "API Key Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Key Guard": {
      "main": [
        [
          {
            "node": "Session Lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Lookup": {
      "main": [
        [
          {
            "node": "Session Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Guard": {
      "main": [
        [
          {
            "node": "TODO - Create Episode",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Session Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TODO - Create Episode": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "templateCredsSetupCompleted": false,
    "handoffSection": "custom POST /episodes"
  }
}
