n8n/episodes.list.json
{
  "name": "GET /episodes",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "episodes",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5c590670-4c4a-4a93-8b65-fb31b23554da",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "fed0822b-38a1-4f4e-beb1-8ad32ec4678e",
      "notes": "x-api-key required"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2899ac25-4b60-4343-999e-0e0b6baed3f8",
              "leftValue": "={{ $json.headers[\"x-api-key\"] }}",
              "rightValue": "={{ $env.SHARED_API_KEY || \"a58d49ae13d73706115681d14de53bd6857a88652b6cca8669a290898fcaac64\" }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1a2bc977-1b10-4799-962b-3b26f393cb2f",
      "name": "API Key Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: \"unauthorized\", code: \"no_key\" }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "6a023201-0f10-4a17-a06d-dc707b34e341",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        680,
        460
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const CONFIG = {\n  AIRTABLE_PAT: $env.AIRTABLE_PAT || $env.AIRTABLE_API_KEY || \"\",\n  AIRTABLE_BASE_ID: $env.AIRTABLE_BASE_ID || \"\",\n  AIRTABLE_EPISODE_IMAGE_FIELD: $env.AIRTABLE_EPISODE_IMAGE_FIELD || \"cover_image\",\n  AIRTABLE_EPISODE_MEDIA_FIELD: $env.AIRTABLE_EPISODE_MEDIA_FIELD || \"media\",\n};\n\nconst request = this.helpers.httpRequest.bind(this.helpers);\nconst apiKey = String(CONFIG.AIRTABLE_PAT || \"\").trim();\nconst baseId = String(CONFIG.AIRTABLE_BASE_ID || \"\").trim();\n\nif (!apiKey || !baseId) {\n  return {\n    json: {\n      statusCode: 500,\n      error: \"Airtable config missing in n8n environment\",\n      code: \"airtable_config_missing\",\n    },\n  };\n}\n\nconst airtable = \"https://api.airtable.com/v0/\" + baseId;\nconst headers = { Authorization: \"Bearer \" + apiKey };\nconst fields = [\n  \"number\",\n  \"title\",\n  \"date\",\n  \"place\",\n  \"duration\",\n  \"cover_url\",\n  \"notes\",\n  \"music_url\",\n  CONFIG.AIRTABLE_EPISODE_IMAGE_FIELD,\n  CONFIG.AIRTABLE_EPISODE_MEDIA_FIELD,\n];\nconst fieldParams = fields\n  .filter(Boolean)\n  .map((field) => \"fields%5B%5D=\" + encodeURIComponent(field))\n  .join(\"&\");\n\nconst records = [];\nlet offset = \"\";\n\ntry {\n  do {\n    const url =\n      airtable +\n      \"/Episodes?\" +\n      fieldParams +\n      \"&sort%5B0%5D%5Bfield%5D=number&sort%5B0%5D%5Bdirection%5D=asc\" +\n      (offset ? \"&offset=\" + encodeURIComponent(offset) : \"\");\n\n    const data = await request({ method: \"GET\", url, headers, json: true });\n    records.push(...(data.records || []));\n    offset = data.offset || \"\";\n  } while (offset);\n} catch (error) {\n  return {\n    json: {\n      statusCode: 500,\n      error: \"Airtable episodes list failed: \" + (error?.message || String(error)),\n      code: \"airtable_episodes_failed\",\n    },\n  };\n}\n\nconst attachmentField = CONFIG.AIRTABLE_EPISODE_IMAGE_FIELD || \"cover_image\";\nconst mediaField = CONFIG.AIRTABLE_EPISODE_MEDIA_FIELD || \"media\";\nconst mediaFromAttachments = (attachments) =>\n  (Array.isArray(attachments) ? attachments : []).map((attachment) => {\n    const contentType = String(attachment.type || \"\");\n    return {\n      id: attachment.id || \"\",\n      url: attachment.url || \"\",\n      filename: attachment.filename || \"media\",\n      type: contentType.startsWith(\"video/\") ? \"video\" : contentType.startsWith(\"image/\") ? \"image\" : \"file\",\n      contentType,\n      size: attachment.size || 0,\n    };\n  });\nconst episodes = records\n  .map((record) => {\n    const f = record.fields || {};\n    const attachments = Array.isArray(f[attachmentField]) ? f[attachmentField] : [];\n    const mediaAttachments = Array.isArray(f[mediaField]) ? f[mediaField] : [];\n    return {\n      id: String(f.id || record.id),\n      number: Number(f.number || 0),\n      title: String(f.title || \"\"),\n      date: String(f.date || \"\"),\n      place: String(f.place || \"\"),\n      duration: String(f.duration || \"\"),\n      cover_url: String(attachments[0]?.url || f.cover_url || \"\"),\n      media: mediaFromAttachments(mediaAttachments),\n      notes: String(f.notes || \"\"),\n      music_url: String(f.music_url || \"\"),\n    };\n  })\n  .filter((episode) => episode.title && episode.date && episode.place)\n  .sort((a, b) => a.number - b.number || a.date.localeCompare(b.date));\n\nreturn { json: { episodes } };"
      },
      "id": "8c8cce4f-f465-4c0e-b3cd-bc017ff18f23",
      "name": "List Episodes From Airtable",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "id": "d822285b-e195-43c7-a1c1-37757c31cb30",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1120,
        200
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "API Key Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Key Guard": {
      "main": [
        [
          {
            "node": "List Episodes From Airtable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Episodes From Airtable": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "templateCredsSetupCompleted": false,
    "handoffSection": "HANDOFF.md 3.5"
  }
}
