n8n/episodes.reviews.list.json
{
  "name": "GET /episodes/:id/reviews",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "episodes/:id/reviews",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ec66f81e-3615-4c40-a35c-224cc303d234",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "6483ce95-fa1a-4ffd-9982-3348d437d928",
      "notes": "x-api-key (required), x-session-token (auth routes)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6d72b293-c9a3-4a7d-90d4-3ea2b97fc26b",
              "leftValue": "={{ $json.headers[\"x-api-key\"] }}",
              "rightValue": "={{ $env.SHARED_API_KEY || \"a58d49ae13d73706115681d14de53bd6857a88652b6cca8669a290898fcaac64\" }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bbc4c943-90b3-4430-bd7f-da5693576a34",
      "name": "API Key Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: \"unauthorized\", code: \"no_key\" }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "7db9195f-83c2-4f3e-878c-aaaea14cabba",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        680,
        460
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const headers = $json.headers || {};\nconst role = String(headers[\"x-user-role\"] || \"\").trim().toLowerCase();\nconst id = String(headers[\"x-user-id\"] || role || \"\").trim();\nconst name = String(headers[\"x-user-name\"] || role || \"\").trim();\n\nif (!role) {\n  return { json: { statusCode: 401, error: \"expired\", code: \"session_missing\" } };\n}\n\nreturn {\n  json: {\n    session: { id, name, role },\n    params: $json.params || {},\n    body: $json.body || {},\n  },\n};"
      },
      "id": "294810df-a93a-4cfb-b78f-44fcc89a5b7d",
      "name": "Session Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9da9fc09-6e4e-4e51-af68-2a0b34cf3d0f",
              "leftValue": "={{ Boolean($json.session) }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f3443620-3469-4896-b427-0d223c7762e2",
      "name": "Session Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        820,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: \"expired\", code: \"session_invalid\" }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "e7cc6bb4-3870-47d1-939d-e3b85a5f3b17",
      "name": "401 Session Expired",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1040,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const CONFIG = {\n  AIRTABLE_PAT: $env.AIRTABLE_PAT || $env.AIRTABLE_API_KEY || \"\",\n  AIRTABLE_BASE_ID: $env.AIRTABLE_BASE_ID || \"\",\n  REVIEW_EPISODE_FIELD: $env.AIRTABLE_REVIEW_EPISODE_FIELD || \"episode\",\n  REVIEW_AUTHOR_FIELD: $env.AIRTABLE_REVIEW_AUTHOR_FIELD || \"author\",\n};\n\nconst request = this.helpers.httpRequest.bind(this.helpers);\nconst apiKey = String(CONFIG.AIRTABLE_PAT || \"\").trim();\nconst baseId = String(CONFIG.AIRTABLE_BASE_ID || \"\").trim();\nconst airtable = \"https://api.airtable.com/v0/\" + baseId;\nconst headers = { Authorization: \"Bearer \" + apiKey };\nconst episodeField = CONFIG.REVIEW_EPISODE_FIELD;\nconst authorField = CONFIG.REVIEW_AUTHOR_FIELD;\nconst REVIEW_FIELDS = [\n  episodeField,\n  authorField,\n  \"rating\",\n  \"favorite_moment\",\n  \"awkward_moment\",\n  \"funny_quote\",\n  \"summary\",\n  \"would_redo\",\n  \"song\",\n  \"author_role\",\n];\n\nif (!apiKey || !baseId) {\n  return { json: { statusCode: 500, error: \"Airtable config missing in n8n environment\", code: \"airtable_config_missing\" } };\n}\n\nconst escapeFormulaString = (value) => String(value || \"\").replace(/'/g, \"\\\\'\");\nconst fieldsQuery = (fields) => fields.map((field) => \"fields%5B%5D=\" + encodeURIComponent(field)).join(\"&\");\nconst linkedIds = (value) => Array.isArray(value) ? value.map(String) : value ? [String(value)] : [];\nconst first = (value) => Array.isArray(value) ? value[0] : value;\nconst roleLabel = (role) => ({\n  samuel: \"Samuel\",\n  mathilde: \"Mathilde\",\n  amis_samuel: \"Amis de Samuel\",\n  amis_mathilde: \"Amis de Mathilde\",\n}[role] || role || \"\");\n\nasync function findEpisodeRecord(id) {\n  const cleanId = String(id || \"\").trim();\n  if (!cleanId) return null;\n  try {\n    return await request({ method: \"GET\", url: airtable + \"/Episodes/\" + encodeURIComponent(cleanId), headers, json: true });\n  } catch {}\n\n  const formula = \"OR(RECORD_ID() = '\" + escapeFormulaString(cleanId) + \"', {id} = '\" + escapeFormulaString(cleanId) + \"')\";\n  const data = await request({\n    method: \"GET\",\n    url: airtable + \"/Episodes?maxRecords=1&filterByFormula=\" + encodeURIComponent(formula),\n    headers,\n    json: true,\n  });\n  return data.records?.[0] || null;\n}\n\nasync function findUserRecord(session) {\n  const userId = String(session?.id || \"\").trim();\n  const role = String(session?.role || \"\").trim().toLowerCase();\n  if (userId) {\n    try {\n      return await request({ method: \"GET\", url: airtable + \"/Users/\" + encodeURIComponent(userId), headers, json: true });\n    } catch {}\n  }\n\n  const formula = \"OR(RECORD_ID() = '\" + escapeFormulaString(userId) + \"', {id} = '\" + escapeFormulaString(userId) + \"', LOWER({role}) = '\" + escapeFormulaString(role) + \"')\";\n  const data = await request({\n    method: \"GET\",\n    url: airtable + \"/Users?maxRecords=1&filterByFormula=\" + encodeURIComponent(formula),\n    headers,\n    json: true,\n  });\n  return data.records?.[0] || null;\n}\n\nasync function listAllReviews() {\n  const records = [];\n  let offset = \"\";\n  do {\n    const url =\n      airtable +\n      \"/Reviews?\" +\n      fieldsQuery(REVIEW_FIELDS) +\n      \"&pageSize=100\" +\n      (offset ? \"&offset=\" + encodeURIComponent(offset) : \"\");\n    const data = await request({ method: \"GET\", url, headers, json: true });\n    records.push(...(data.records || []));\n    offset = data.offset || \"\";\n  } while (offset);\n  return records;\n}\n\nfunction reviewFromRecord(record, fallbackRole = \"\", fallbackName = \"\") {\n  const f = record.fields || {};\n  const role = String(first(f.author_role) || fallbackRole || \"\");\n  return {\n    id: record.id,\n    author_role: role,\n    author_name: String(first(f.author_name) || fallbackName || roleLabel(role)),\n    rating: Number(f.rating || 0),\n    favorite_moment: String(f.favorite_moment || \"\"),\n    awkward_moment: String(f.awkward_moment || \"\"),\n    funny_quote: String(f.funny_quote || \"\"),\n    summary: String(f.summary || \"\"),\n    would_redo: String(f.would_redo || \"\"),\n    song: String(f.song || \"\"),\n    updated_at: String(record.createdTime || \"\"),\n  };\n}\nconst session = $json.session;\nconst episode = await findEpisodeRecord($json.params?.id);\nif (!episode) {\n  return { json: { statusCode: 404, error: \"Episode not found\", code: \"episode_missing\" } };\n}\n\nlet seasonUnlocked = false;\ntry {\n  const settings = await request({\n    method: \"GET\",\n    url: airtable + \"/Settings?maxRecords=1&fields%5B%5D=season_unlocked\",\n    headers,\n    json: true,\n  });\n  seasonUnlocked = Boolean(settings.records?.[0]?.fields?.season_unlocked);\n} catch {}\n\nconst CAN_SEE = {\n  samuel: [\"samuel\"],\n  mathilde: [\"mathilde\"],\n  amis_samuel: [\"amis_samuel\", \"amis_mathilde\"],\n  amis_mathilde: [\"amis_samuel\", \"amis_mathilde\"],\n};\nconst allowedRoles = seasonUnlocked\n  ? [\"samuel\", \"mathilde\", \"amis_samuel\", \"amis_mathilde\"]\n  : CAN_SEE[session.role] || [];\n\nconst reviews = (await listAllReviews())\n  .filter((record) => linkedIds(record.fields?.[episodeField]).includes(episode.id))\n  .map((record) => reviewFromRecord(record))\n  .filter((review) => allowedRoles.includes(review.author_role));\n\nreturn { json: { reviews, season_unlocked: seasonUnlocked } };"
      },
      "id": "d85d3389-bfde-4769-8eee-844faa629172",
      "name": "List Reviews",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "id": "3b4ef2b2-2ea9-47a8-9852-15eabc8e2485",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1120,
        200
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "API Key Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Key Guard": {
      "main": [
        [
          {
            "node": "Session Lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Lookup": {
      "main": [
        [
          {
            "node": "Session Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Guard": {
      "main": [
        [
          {
            "node": "List Reviews",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 Session Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Reviews": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "templateCredsSetupCompleted": false,
    "handoffSection": "HANDOFF.md §3"
  }
}
