n8n/episodes.reviews.list.json
{
  "name": "GET /episodes/:id/reviews",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "episodes/:id/reviews",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ec66f81e-3615-4c40-a35c-224cc303d234",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "6483ce95-fa1a-4ffd-9982-3348d437d928",
      "notes": "x-api-key (required), x-session-token (auth routes)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6d72b293-c9a3-4a7d-90d4-3ea2b97fc26b",
              "leftValue": "={{ $json.headers[\"x-api-key\"] }}",
              "rightValue": "={{ $env.SHARED_API_KEY }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bbc4c943-90b3-4430-bd7f-da5693576a34",
      "name": "API Key Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: \"unauthorized\", code: \"no_key\" }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "7db9195f-83c2-4f3e-878c-aaaea14cabba",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        680,
        460
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// TODO: replace with Airtable Search on Users\n// Filter formula: AND({session_token} = \"{{ $json.headers['x-session-token'] }}\", IS_AFTER({session_expires_at}, NOW()))\n// Then return the user record under `session` so downstream nodes can reach it via $('Session Lookup').\nconst token = $json.headers[\"x-session-token\"];\nif (!token) throw new Error(\"no_session_token\");\nreturn { json: { _todo: \"wire to Airtable Users search\", token } };"
      },
      "id": "294810df-a93a-4cfb-b78f-44fcc89a5b7d",
      "name": "Session Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9da9fc09-6e4e-4e51-af68-2a0b34cf3d0f",
              "leftValue": "={{ Boolean($json.token) }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f3443620-3469-4896-b427-0d223c7762e2",
      "name": "Session Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        820,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: \"expired\", code: \"session_invalid\" }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "e7cc6bb4-3870-47d1-939d-e3b85a5f3b17",
      "name": "401 Session Expired",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1040,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// HANDOFF.md §3.6 — PRIVACY GATE LIVES HERE\n// 1. Get session.role from Session Lookup node\n// 2. Read Settings.season_unlocked\n// 3. CAN_SEE = {\n//      samuel: ['samuel'],\n//      mathilde: ['mathilde'],\n//      amis_samuel: ['amis_samuel','amis_mathilde'],\n//      amis_mathilde: ['amis_samuel','amis_mathilde'],\n//    }\n//    if (season_unlocked) allowed = all four\n//    else allowed = CAN_SEE[session.role]\n// 4. Airtable list Reviews where episode = $json.params.id AND author_role IN allowed\n// 5. Respond { reviews: [...], season_unlocked }\nreturn [{ json: { reviews: [], season_unlocked: false } }];"
      },
      "id": "d85d3389-bfde-4769-8eee-844faa629172",
      "name": "TODO — Implement logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "3b4ef2b2-2ea9-47a8-9852-15eabc8e2485",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1120,
        200
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "API Key Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Key Guard": {
      "main": [
        [
          {
            "node": "Session Lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Lookup": {
      "main": [
        [
          {
            "node": "Session Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Guard": {
      "main": [
        [
          {
            "node": "TODO — Implement logic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 Session Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TODO — Implement logic": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "templateCredsSetupCompleted": false,
    "handoffSection": "HANDOFF.md §3"
  }
}