n8n/episodes.comments.create.json
{
  "name": "POST /episodes/:id/comments",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "episodes/:id/comments",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "bb3ff65f-0740-4a51-9344-a18884f37ba5",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "4af6bb46-948f-43b2-862d-8a0ac440d688"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const CONFIG = {\n  AIRTABLE_PAT: $env.AIRTABLE_PAT || $env.AIRTABLE_API_KEY || \"\",\n  AIRTABLE_BASE_ID: $env.AIRTABLE_BASE_ID || \"\",\n  SHARED_API_KEY: $env.SHARED_API_KEY || \"a58d49ae13d73706115681d14de53bd6857a88652b6cca8669a290898fcaac64\",\n  COMMENT_TABLE: $env.AIRTABLE_COMMENT_TABLE || \"Comments\",\n  COMMENT_EPISODE_FIELD: $env.AIRTABLE_COMMENT_EPISODE_FIELD || \"episode\",\n};\n\nconst headersIn = $json.headers || {};\nif (String(headersIn[\"x-api-key\"] || \"\") !== CONFIG.SHARED_API_KEY) {\n  return { json: { statusCode: 401, body: { error: \"unauthorized\", code: \"no_key\" } } };\n}\nif (!String(headersIn[\"x-session-token\"] || \"\").trim()) {\n  return { json: { statusCode: 401, body: { error: \"Session required\", code: \"session_missing\" } } };\n}\nif (!CONFIG.AIRTABLE_PAT || !CONFIG.AIRTABLE_BASE_ID) {\n  return { json: { statusCode: 500, body: { error: \"Airtable config missing\", code: \"airtable_config_missing\" } } };\n}\n\nconst request = this.helpers.httpRequest.bind(this.helpers);\nconst airtable = \"https://api.airtable.com/v0/\" + CONFIG.AIRTABLE_BASE_ID;\nconst headers = { Authorization: \"Bearer \" + CONFIG.AIRTABLE_PAT };\nconst episodeId = String($json.params?.id || \"\").trim();\nconst bodyIn = $json.body || {};\nconst authorName = String(bodyIn.author_name || headersIn[\"x-user-name\"] || \"\").trim().slice(0, 40);\nconst body = String(bodyIn.body || \"\").trim().slice(0, 800);\nconst authorRole = String(headersIn[\"x-user-role\"] || \"\").trim();\nconst escapeFormulaString = (value) => String(value || \"\").replace(/'/g, \"\\\\'\");\nconst airtableStatus = (error) => Number(error?.statusCode || error?.status || error?.response?.statusCode || error?.response?.status || 0);\nconst airtableMessage = (error) => {\n  const raw = error?.response?.body || error?.response?.data || error?.body || \"\";\n  const payload = typeof raw === \"string\" ? raw : JSON.stringify(raw || {});\n  return [error?.message || String(error), payload].filter(Boolean).join(\" - \");\n};\n\nif (authorName.length < 2 || body.length < 2) {\n  return { json: { statusCode: 400, body: { error: \"Prenom et commentaire obligatoires\", code: \"comment_invalid\" } } };\n}\n\nasync function findEpisodeRecord(id) {\n  if (!id) return null;\n  try {\n    return await request({ method: \"GET\", url: airtable + \"/Episodes/\" + encodeURIComponent(id), headers, json: true });\n  } catch {}\n  const formula = \"OR(RECORD_ID() = '\" + escapeFormulaString(id) + \"', {id} = '\" + escapeFormulaString(id) + \"')\";\n  const data = await request({ method: \"GET\", url: airtable + \"/Episodes?maxRecords=1&filterByFormula=\" + encodeURIComponent(formula), headers, json: true });\n  return data.records?.[0] || null;\n}\n\nconst episode = await findEpisodeRecord(episodeId);\nif (!episode) {\n  return { json: { statusCode: 404, body: { error: \"Episode not found\", code: \"episode_missing\" } } };\n}\n\nlet created;\ntry {\n  created = await request({\n    method: \"POST\",\n    url: airtable + \"/\" + encodeURIComponent(CONFIG.COMMENT_TABLE),\n    headers,\n    body: {\n      fields: {\n        [CONFIG.COMMENT_EPISODE_FIELD]: [episode.id],\n        author_name: authorName,\n        author_role: authorRole,\n        body,\n      },\n    },\n    json: true,\n  });\n} catch (error) {\n  const status = airtableStatus(error);\n  const detail = airtableMessage(error);\n  const permissionHint = status === 403 ? \" Verifie que AIRTABLE_PAT a le scope data.records:write et acces a la base/table Comments.\" : \"\";\n  return { json: { statusCode: status || 500, body: { error: \"Airtable comment create failed: \" + detail + permissionHint, code: status === 403 ? \"airtable_comment_permission_denied\" : \"airtable_comment_create_failed\" } } };\n}\n\nreturn {\n  json: {\n    statusCode: 200,\n    body: {\n      comment: {\n        id: created.id,\n        episode_id: episode.id,\n        author_name: String(created.fields?.author_name || authorName),\n        author_role: String(created.fields?.author_role || authorRole),\n        body: String(created.fields?.body || body),\n        created_at: String(created.createdTime || new Date().toISOString()),\n      },\n    },\n  },\n};"
      },
      "id": "41db45db-86c1-4c83-83a5-6dfeef8add35",
      "name": "Create Comment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },

    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "id": "5cab1945-f3fd-4b6b-858d-9752f2ae81e5",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Create Comment", "type": "main", "index": 0 }]]
    },
    "Create Comment": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "templateCredsSetupCompleted": false,
    "handoffSection": "custom POST /episodes/:id/comments"
  }
}
