n8n/episodes.create.json
{
  "name": "POST /episodes",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "episodes",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8d0f518c-768a-4601-a2c7-123b283cfbe5",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "f3159ec0-0a3f-4f03-b6ce-3aa3f4fd0f71",
      "notes": "x-api-key and x-session-token required"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9aa73e14-9c49-4c10-a55b-343a527d709f",
              "leftValue": "={{ $json.headers[\"x-api-key\"] }}",
              "rightValue": "a58d49ae13d73706115681d14de53bd6857a88652b6cca8669a290898fcaac64",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a7257135-a761-4f03-8d1e-c9eaa97738e9",
      "name": "API Key Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: \"unauthorized\", code: \"no_key\" }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "d8911a8f-e810-4b65-bd37-71fde38db806",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        680,
        460
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const headers = $json.headers || {};\nconst role = String(headers[\"x-user-role\"] || \"\").trim().toLowerCase();\nconst id = String(headers[\"x-user-id\"] || role || \"\").trim();\nconst name = String(headers[\"x-user-name\"] || role || \"\").trim();\n\nif (!role) {\n  return { json: { statusCode: 401, error: \"expired\", code: \"session_missing\" } };\n}\n\nreturn {\n  json: {\n    session: { id, name, role },\n    body: $json.body,\n  },\n};"
      },
      "id": "a52caea0-fe2d-44df-a5d7-94b2083a42e6",
      "name": "Session Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c4833e8f-788d-472f-853b-e4b26d9bec3c",
              "leftValue": "={{ Boolean($json.session) }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c4469831-14ce-450e-a5f0-17f4113c8ad2",
      "name": "Session Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 401 }}"
        }
      },
      "id": "14fe5a46-0281-4e5f-96d5-8f606d7be390",
      "name": "Session Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1040,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const CONFIG = {\n  AIRTABLE_PAT: \"REPLACE_WITH_AIRTABLE_PAT\",\n  AIRTABLE_BASE_ID: \"REPLACE_WITH_AIRTABLE_BASE_ID\",\n  AIRTABLE_EPISODE_IMAGE_FIELD: \"cover_image\",\n};\nconst request = this.helpers.httpRequest.bind(this.helpers);\nconst apiKey = CONFIG.AIRTABLE_PAT;\nconst baseId = CONFIG.AIRTABLE_BASE_ID;\nconst session = $json.session;\nconst body = $json.body || {};\n\nif (!apiKey || !baseId || apiKey.includes(\"REPLACE_WITH\") || baseId.includes(\"REPLACE_WITH\")) {\n  return { json: { statusCode: 500, error: \"Airtable config missing in n8n code node\", code: \"airtable_config_missing\" } };\n}\n\nif (!session || ![\"samuel\", \"mathilde\"].includes(session.role)) {\n  return { json: { statusCode: 403, error: \"forbidden\", code: \"episode_create_forbidden\" } };\n}\n\nconst title = String(body.title || \"\").trim();\nconst date = String(body.date || \"\").trim();\nconst place = String(body.place || \"\").trim();\nconst duration = String(body.duration || \"\").trim();\nconst coverUrl = String(body.cover_url || \"\").trim();\nconst notes = String(body.notes || \"\").trim();\nconst musicUrl = String(body.music_url || \"\").trim();\nconst image = body.image_attachment || null;\n\nif (!title || !date || !place) {\n  return { json: { statusCode: 400, error: \"title, date and place are required\", code: \"episode_invalid\" } };\n}\n\nconst airtable = \"https://api.airtable.com/v0/\" + baseId;\nconst headers = { Authorization: \"Bearer \" + apiKey };\nconst listUrl = airtable + \"/Episodes?fields%5B%5D=number&sort%5B0%5D%5Bfield%5D=number&sort%5B0%5D%5Bdirection%5D=desc&maxRecords=1\";\n\nlet listData;\ntry {\n  listData = await request({ method: \"GET\", url: listUrl, headers, json: true });\n} catch (error) {\n  return { json: { statusCode: 500, error: \"Airtable episodes lookup failed: \" + (error?.message || String(error)), code: \"airtable_episodes_failed\" } };\n}\n\nconst maxNumber = Number(listData.records?.[0]?.fields?.number || 0);\nconst number = maxNumber + 1;\nconst fields = { title, date, place, number };\nif (duration) fields.duration = duration;\nif (coverUrl) fields.cover_url = coverUrl;\nif (notes) fields.notes = notes;\nif (musicUrl) fields.music_url = musicUrl;\n\nlet created;\ntry {\n  created = await request({\n    method: \"POST\",\n    url: airtable + \"/Episodes\",\n    headers,\n    body: { fields },\n    json: true,\n  });\n} catch (error) {\n  return { json: { statusCode: 500, error: \"Airtable episode create failed: \" + (error?.message || String(error)), code: \"airtable_episode_create_failed\" } };\n}\n\nlet finalFields = created.fields;\nlet uploadedCoverUrl = finalFields.cover_url || \"\";\n\nif (image?.file) {\n  const attachmentField = CONFIG.AIRTABLE_EPISODE_IMAGE_FIELD || \"cover_image\";\n  const file = String(image.file || \"\").replace(/^data:.*?;base64,/, \"\");\n  const filename = String(image.filename || \"date-\" + Date.now() + \".jpg\").trim();\n  const contentType = String(image.contentType || \"image/jpeg\").trim();\n\n  if (file.length > 7_000_000) {\n    return { json: { statusCode: 413, error: \"Image too large\", code: \"image_too_large\" } };\n  }\n\n  const uploadUrl = airtable + \"/\" + created.id + \"/\" + encodeURIComponent(attachmentField) + \"/uploadAttachment\";\n  let uploaded;\n  try {\n    uploaded = await request({\n      method: \"POST\",\n      url: uploadUrl,\n      headers,\n      body: { file, filename, contentType },\n      json: true,\n    });\n  } catch (error) {\n    return { json: { statusCode: 500, error: \"Airtable image upload failed: \" + (error?.message || String(error)), code: \"airtable_image_upload_failed\" } };\n  }\n\n  finalFields = uploaded.fields || finalFields;\n  const attachments = finalFields[attachmentField] || [];\n  uploadedCoverUrl = attachments[0]?.url || uploadedCoverUrl;\n\n  if (uploadedCoverUrl) {\n    try {\n      const patched = await request({\n        method: \"PATCH\",\n        url: airtable + \"/Episodes/\" + created.id,\n        headers,\n        body: { fields: { cover_url: uploadedCoverUrl } },\n        json: true,\n      });\n      finalFields = patched.fields || finalFields;\n    } catch {}\n  }\n}\n\nconst f = finalFields;\nreturn {\n  json: {\n    episode: {\n      id: created.id,\n      number: f.number,\n      title: f.title,\n      date: f.date,\n      place: f.place,\n      duration: f.duration || \"\",\n      cover_url: f.cover_url || uploadedCoverUrl || \"\",\n      notes: f.notes || \"\",\n      music_url: f.music_url || \"\",\n    },\n  },\n};"
      },
      "id": "e4eeb0f4-9e8d-49f4-a2ff-769d586e1494",
      "name": "TODO - Create Episode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "id": "ca3afe18-9390-46db-b7b0-cd39ae120206",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1260,
        200
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "API Key Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Key Guard": {
      "main": [
        [
          {
            "node": "Session Lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Lookup": {
      "main": [
        [
          {
            "node": "Session Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Guard": {
      "main": [
        [
          {
            "node": "TODO - Create Episode",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Session Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TODO - Create Episode": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "templateCredsSetupCompleted": false,
    "handoffSection": "custom POST /episodes"
  }
}
