n8n/episodes.media.upsert.json
{
  "name": "POST /episodes/:id/media",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "episodes/:id/media",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "9f54492d-9f6f-4f69-a9c3-80daf19e1401",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "e6d7fbaf-bbb1-4b28-8ae1-cdc0f5c5f6c1",
      "notes": "x-api-key and x-session-token required"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "358d80a0-02cf-4ee8-ae1b-938371dcd645",
              "leftValue": "={{ $json.headers[\"x-api-key\"] }}",
              "rightValue": "={{ $env.SHARED_API_KEY || \"a58d49ae13d73706115681d14de53bd6857a88652b6cca8669a290898fcaac64\" }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2bc35f35-07bc-484f-bd33-f5b3b3c8fe8d",
      "name": "API Key Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: \"unauthorized\", code: \"no_key\" }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "47a4486e-b01a-4a51-aebf-39869f8b0605",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        680,
        460
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const headers = $json.headers || {};\nconst role = String(headers[\"x-user-role\"] || \"\").trim().toLowerCase();\nconst id = String(headers[\"x-user-id\"] || role || \"\").trim();\nconst name = String(headers[\"x-user-name\"] || role || \"\").trim();\n\nif (!role) {\n  return { json: { statusCode: 401, error: \"expired\", code: \"session_missing\" } };\n}\n\nreturn {\n  json: {\n    session: { id, name, role },\n    params: $json.params || {},\n    body: $json.body || {},\n  },\n};"
      },
      "id": "e21fd27f-d970-4655-8f98-eb8e528b6119",
      "name": "Session Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c6f3a785-47d5-4cd4-a865-89329bd6a38c",
              "leftValue": "={{ Boolean($json.session) }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0befd3a4-3e94-4d00-bb15-d83719fa3d60",
      "name": "Session Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 401 }}"
        }
      },
      "id": "f4301727-0547-4482-b482-334c03c24d59",
      "name": "Session Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1040,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const CONFIG = {\n  AIRTABLE_PAT: $env.AIRTABLE_PAT || $env.AIRTABLE_API_KEY || \"\",\n  AIRTABLE_BASE_ID: $env.AIRTABLE_BASE_ID || \"\",\n  AIRTABLE_EPISODE_MEDIA_FIELD: $env.AIRTABLE_EPISODE_MEDIA_FIELD || \"media\",\n};\n\nconst request = this.helpers.httpRequest.bind(this.helpers);\nconst apiKey = String(CONFIG.AIRTABLE_PAT || \"\").trim();\nconst baseId = String(CONFIG.AIRTABLE_BASE_ID || \"\").trim();\nconst mediaField = String(CONFIG.AIRTABLE_EPISODE_MEDIA_FIELD || \"media\").trim();\nconst session = $json.session;\nconst episodeId = String($json.params?.id || \"\").trim();\nconst files = Array.isArray($json.body?.files) ? $json.body.files : [];\n\nif (!apiKey || !baseId) {\n  return { json: { statusCode: 500, error: \"Airtable config missing in n8n environment\", code: \"airtable_config_missing\" } };\n}\n\nif (!session || ![\"samuel\", \"mathilde\"].includes(session.role)) {\n  return { json: { statusCode: 403, error: \"forbidden\", code: \"episode_media_forbidden\" } };\n}\n\nif (!episodeId || !files.length) {\n  return { json: { statusCode: 400, error: \"episode id and files are required\", code: \"episode_media_invalid\" } };\n}\n\nif (files.length > 8) {\n  return { json: { statusCode: 413, error: \"Trop de fichiers. Ajoute 8 medias maximum a la fois.\", code: \"too_many_files\" } };\n}\n\nconst airtable = \"https://api.airtable.com/v0/\" + baseId;\nconst uploadBase = \"https://content.airtable.com/v0/\" + baseId;\nconst headers = { Authorization: \"Bearer \" + apiKey };\n\nconst fieldQuery =\n  \"?fields%5B%5D=number&fields%5B%5D=title&fields%5B%5D=date&fields%5B%5D=place&fields%5B%5D=duration&fields%5B%5D=cover_url&fields%5B%5D=notes&fields%5B%5D=music_url&fields%5B%5D=\" +\n  encodeURIComponent(mediaField);\nconst escapeFormulaString = (value) => String(value).replace(/'/g, \"\\\\'\");\n\nlet record;\nlet recordId = episodeId;\ntry {\n  record = await request({\n    method: \"GET\",\n    url: airtable + \"/Episodes/\" + encodeURIComponent(recordId) + fieldQuery,\n    headers,\n    json: true,\n  });\n} catch (directError) {\n  try {\n    const formula = \"OR(RECORD_ID() = '\" + escapeFormulaString(episodeId) + \"', {id} = '\" + escapeFormulaString(episodeId) + \"')\";\n    const data = await request({\n      method: \"GET\",\n      url: airtable + \"/Episodes?maxRecords=1&filterByFormula=\" + encodeURIComponent(formula) + \"&\" + fieldQuery.slice(1),\n      headers,\n      json: true,\n    });\n    record = data.records?.[0];\n    recordId = record?.id || \"\";\n  } catch (searchError) {\n    return { json: { statusCode: 404, error: \"Episode not found: \" + (searchError?.message || directError?.message || String(searchError)), code: \"episode_missing\" } };\n  }\n}\n\nif (!record || !recordId) {\n  return { json: { statusCode: 404, error: \"Episode not found\", code: \"episode_missing\" } };\n}\n\nlet finalFields = record.fields || {};\n\nfor (const input of files) {\n  const file = String(input?.file || \"\").replace(/^data:.*?;base64,/, \"\");\n  const filename = String(input?.filename || \"media-\" + Date.now()).trim();\n  const contentType = String(input?.contentType || \"application/octet-stream\").trim();\n  const isMedia = contentType.startsWith(\"image/\") || contentType.startsWith(\"video/\");\n  const fileBytes = Math.floor((file.length * 3) / 4);\n\n  if (!file || !isMedia) {\n    return { json: { statusCode: 400, error: \"Only image and video files are accepted\", code: \"media_type_invalid\" } };\n  }\n\n  if (fileBytes > 5 * 1024 * 1024) {\n    return { json: { statusCode: 413, error: \"Chaque media doit faire moins de 5 Mo.\", code: \"media_too_large\" } };\n  }\n\n  try {\n    const uploaded = await request({\n      method: \"POST\",\n      url: uploadBase + \"/\" + encodeURIComponent(recordId) + \"/\" + encodeURIComponent(mediaField) + \"/uploadAttachment\",\n      headers: { ...headers, Accept: \"application/json\" },\n      body: { file, filename, contentType },\n      json: true,\n    });\n    finalFields = uploaded.fields || finalFields;\n  } catch (error) {\n    return { json: { statusCode: 500, error: \"Airtable media upload failed: \" + (error?.message || String(error)), code: \"airtable_media_upload_failed\" } };\n  }\n}\n\nconst mediaFromAttachments = (attachments) =>\n  (Array.isArray(attachments) ? attachments : []).map((attachment) => {\n    const contentType = String(attachment.type || \"\");\n    return {\n      id: attachment.id || \"\",\n      url: attachment.url || \"\",\n      filename: attachment.filename || \"media\",\n      type: contentType.startsWith(\"video/\") ? \"video\" : contentType.startsWith(\"image/\") ? \"image\" : \"file\",\n      contentType,\n      size: attachment.size || 0,\n    };\n  });\n\nconst media = mediaFromAttachments(finalFields[mediaField]);\n\nreturn {\n  json: {\n    episode: {\n      id: String(finalFields.id || recordId),\n      number: Number(finalFields.number || 0),\n      title: String(finalFields.title || \"\"),\n      date: String(finalFields.date || \"\"),\n      place: String(finalFields.place || \"\"),\n      duration: String(finalFields.duration || \"\"),\n      cover_url: String(finalFields.cover_url || media.find((item) => item.type === \"image\")?.url || \"\"),\n      media,\n      notes: String(finalFields.notes || \"\"),\n      music_url: String(finalFields.music_url || \"\"),\n    },\n  },\n};"
      },
      "id": "d9a0a6ce-c7e3-4774-9ef0-fd5cb3a11d92",
      "name": "Upload Episode Media",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "id": "f1f063a9-470f-4fae-ab21-a58a34cd5faa",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1260,
        200
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "API Key Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Key Guard": {
      "main": [
        [
          {
            "node": "Session Lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Lookup": {
      "main": [
        [
          {
            "node": "Session Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Guard": {
      "main": [
        [
          {
            "node": "Upload Episode Media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Session Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Episode Media": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "templateCredsSetupCompleted": false,
    "handoffSection": "custom POST /episodes/:id/media"
  }
}
