n8n/episodes.reviews.upsert.json
{
  "name": "POST /episodes/:id/reviews",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "episodes/:id/reviews",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4efef904-0256-4dd6-a4bc-a8c7f113a480",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "e8f323ae-2f03-42d4-862e-fe88351c3dac",
      "notes": "x-api-key (required), x-session-token (auth routes)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "31b8c873-80a1-4fda-8161-c9286e3da47f",
              "leftValue": "={{ $json.headers[\"x-api-key\"] }}",
              "rightValue": "={{ $env.SHARED_API_KEY || \"a58d49ae13d73706115681d14de53bd6857a88652b6cca8669a290898fcaac64\" }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bf190505-30bc-4727-bfc2-269a7baa2a1b",
      "name": "API Key Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: \"unauthorized\", code: \"no_key\" }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "3a8b6349-d626-466d-a0d6-5b86ddf03328",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        680,
        460
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const headers = $json.headers || {};\nconst role = String(headers[\"x-user-role\"] || \"\").trim().toLowerCase();\nconst id = String(headers[\"x-user-id\"] || role || \"\").trim();\nconst name = String(headers[\"x-user-name\"] || role || \"\").trim();\n\nif (!role) {\n  return { json: { statusCode: 401, error: \"expired\", code: \"session_missing\" } };\n}\n\nreturn {\n  json: {\n    session: { id, name, role },\n    params: $json.params || {},\n    body: $json.body || {},\n  },\n};"
      },
      "id": "63ac5533-045a-4ceb-8701-f9fd4b639d64",
      "name": "Session Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4aba1067-62a6-4309-870e-97674b8537b2",
              "leftValue": "={{ Boolean($json.session) }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "23b9ea70-b558-4c3f-bd4d-117834ffb8bc",
      "name": "Session Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        820,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: \"expired\", code: \"session_invalid\" }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "a9ee5a1f-233f-4835-8129-3a1572af4901",
      "name": "401 Session Expired",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1040,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const CONFIG = {\n  AIRTABLE_PAT: $env.AIRTABLE_PAT || $env.AIRTABLE_API_KEY || \"\",\n  AIRTABLE_BASE_ID: $env.AIRTABLE_BASE_ID || \"\",\n  REVIEW_EPISODE_FIELD: $env.AIRTABLE_REVIEW_EPISODE_FIELD || \"episode\",\n  REVIEW_AUTHOR_FIELD: $env.AIRTABLE_REVIEW_AUTHOR_FIELD || \"author\",\n};\n\nconst request = this.helpers.httpRequest.bind(this.helpers);\nconst apiKey = String(CONFIG.AIRTABLE_PAT || \"\").trim();\nconst baseId = String(CONFIG.AIRTABLE_BASE_ID || \"\").trim();\nconst airtable = \"https://api.airtable.com/v0/\" + baseId;\nconst headers = { Authorization: \"Bearer \" + apiKey };\nconst episodeField = CONFIG.REVIEW_EPISODE_FIELD;\nconst authorField = CONFIG.REVIEW_AUTHOR_FIELD;\nconst REVIEW_FIELDS = [\n  episodeField,\n  authorField,\n  \"rating\",\n  \"favorite_moment\",\n  \"awkward_moment\",\n  \"funny_quote\",\n  \"summary\",\n  \"would_redo\",\n  \"song\",\n  \"author_role\",\n];\n\nif (!apiKey || !baseId) {\n  return { json: { statusCode: 500, error: \"Airtable config missing in n8n environment\", code: \"airtable_config_missing\" } };\n}\n\nconst escapeFormulaString = (value) => String(value || \"\").replace(/'/g, \"\\\\'\");\nconst fieldsQuery = (fields) => fields.map((field) => \"fields%5B%5D=\" + encodeURIComponent(field)).join(\"&\");\nconst linkedIds = (value) => Array.isArray(value) ? value.map(String) : value ? [String(value)] : [];\nconst first = (value) => Array.isArray(value) ? value[0] : value;\nconst roleLabel = (role) => ({\n  samuel: \"Samuel\",\n  mathilde: \"Mathilde\",\n  amis_samuel: \"Amis de Samuel\",\n  amis_mathilde: \"Amis de Mathilde\",\n}[role] || role || \"\");\n\nasync function findEpisodeRecord(id) {\n  const cleanId = String(id || \"\").trim();\n  if (!cleanId) return null;\n  try {\n    return await request({ method: \"GET\", url: airtable + \"/Episodes/\" + encodeURIComponent(cleanId), headers, json: true });\n  } catch {}\n\n  const formula = \"OR(RECORD_ID() = '\" + escapeFormulaString(cleanId) + \"', {id} = '\" + escapeFormulaString(cleanId) + \"')\";\n  const data = await request({\n    method: \"GET\",\n    url: airtable + \"/Episodes?maxRecords=1&filterByFormula=\" + encodeURIComponent(formula),\n    headers,\n    json: true,\n  });\n  return data.records?.[0] || null;\n}\n\nasync function findUserRecord(session) {\n  const userId = String(session?.id || \"\").trim();\n  const role = String(session?.role || \"\").trim().toLowerCase();\n  if (userId) {\n    try {\n      return await request({ method: \"GET\", url: airtable + \"/Users/\" + encodeURIComponent(userId), headers, json: true });\n    } catch {}\n  }\n\n  const formula = \"OR(RECORD_ID() = '\" + escapeFormulaString(userId) + \"', {id} = '\" + escapeFormulaString(userId) + \"', LOWER({role}) = '\" + escapeFormulaString(role) + \"')\";\n  const data = await request({\n    method: \"GET\",\n    url: airtable + \"/Users?maxRecords=1&filterByFormula=\" + encodeURIComponent(formula),\n    headers,\n    json: true,\n  });\n  return data.records?.[0] || null;\n}\n\nasync function listAllReviews() {\n  const records = [];\n  let offset = \"\";\n  do {\n    const url =\n      airtable +\n      \"/Reviews?\" +\n      fieldsQuery(REVIEW_FIELDS) +\n      \"&pageSize=100\" +\n      (offset ? \"&offset=\" + encodeURIComponent(offset) : \"\");\n    const data = await request({ method: \"GET\", url, headers, json: true });\n    records.push(...(data.records || []));\n    offset = data.offset || \"\";\n  } while (offset);\n  return records;\n}\n\nfunction reviewFromRecord(record, fallbackRole = \"\", fallbackName = \"\") {\n  const f = record.fields || {};\n  const role = String(first(f.author_role) || fallbackRole || \"\");\n  return {\n    id: record.id,\n    author_role: role,\n    author_name: String(first(f.author_name) || fallbackName || roleLabel(role)),\n    rating: Number(f.rating || 0),\n    favorite_moment: String(f.favorite_moment || \"\"),\n    awkward_moment: String(f.awkward_moment || \"\"),\n    funny_quote: String(f.funny_quote || \"\"),\n    summary: String(f.summary || \"\"),\n    would_redo: String(f.would_redo || \"\"),\n    song: String(f.song || \"\"),\n    updated_at: String(record.createdTime || \"\"),\n  };\n}\nconst session = $json.session;\nconst body = $json.body || {};\n\nif (![\"samuel\", \"mathilde\"].includes(session.role)) {\n  return { json: { statusCode: 403, error: \"forbidden\", code: \"review_write_forbidden\" } };\n}\n\nconst episode = await findEpisodeRecord($json.params?.id);\nif (!episode) {\n  return { json: { statusCode: 404, error: \"Episode not found\", code: \"episode_missing\" } };\n}\n\nconst user = await findUserRecord(session);\nif (!user) {\n  return { json: { statusCode: 401, error: \"User not found for this session\", code: \"session_user_missing\" } };\n}\n\nconst rating = Math.max(0, Math.min(5, Number(body.rating || 0)));\nconst wouldRedo = [\"yes\", \"no\", \"maybe\"].includes(String(body.would_redo || \"\")) ? String(body.would_redo) : \"\";\nconst fields = {\n  [episodeField]: [episode.id],\n  [authorField]: [user.id],\n  rating,\n  favorite_moment: String(body.favorite_moment || \"\"),\n  awkward_moment: String(body.awkward_moment || \"\"),\n  funny_quote: String(body.funny_quote || \"\"),\n  summary: String(body.summary || \"\"),\n  song: String(body.song || \"\"),\n};\nif (wouldRedo) fields.would_redo = wouldRedo;\n\nconst existing = (await listAllReviews()).find((record) => {\n  const f = record.fields || {};\n  return linkedIds(f[episodeField]).includes(episode.id) && linkedIds(f[authorField]).includes(user.id);\n});\n\nlet saved;\ntry {\n  if (existing) {\n    saved = await request({\n      method: \"PATCH\",\n      url: airtable + \"/Reviews/\" + existing.id,\n      headers,\n      body: { fields },\n      json: true,\n    });\n  } else {\n    saved = await request({\n      method: \"POST\",\n      url: airtable + \"/Reviews\",\n      headers,\n      body: { fields },\n      json: true,\n    });\n  }\n} catch (error) {\n  return { json: { statusCode: 500, error: \"Airtable review save failed: \" + (error?.message || String(error)), code: \"airtable_review_save_failed\" } };\n}\n\nreturn { json: { review: reviewFromRecord(saved, session.role, session.name) } };"
      },
      "id": "757c48ea-5f4c-4b08-ba8b-ef1f404f43af",
      "name": "Upsert Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "id": "b4184c95-8d1a-4512-8ef9-5c5bbc1e72a8",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1120,
        200
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "API Key Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Key Guard": {
      "main": [
        [
          {
            "node": "Session Lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Lookup": {
      "main": [
        [
          {
            "node": "Session Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Guard": {
      "main": [
        [
          {
            "node": "Upsert Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 Session Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Review": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "templateCredsSetupCompleted": false,
    "handoffSection": "HANDOFF.md §3"
  }
}
