n8n/ideas.vote.json
{
  "name": "POST /ideas/:id/vote",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ideas/:id/vote",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "f9ac8c05-187f-4c8f-9306-965fe770d6e1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "9bc9c556-b11b-4532-89ee-8f9e7407ddeb"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const CONFIG = {\n  AIRTABLE_PAT: $env.AIRTABLE_PAT || $env.AIRTABLE_API_KEY || \"\",\n  AIRTABLE_BASE_ID: $env.AIRTABLE_BASE_ID || \"\",\n  SHARED_API_KEY: $env.SHARED_API_KEY || \"\",\n  IDEAS_TABLE: $env.AIRTABLE_IDEAS_TABLE || \"Ideas\",\n};\n\nconst headersIn = $json.headers || {};\n\nif (String(headersIn[\"x-api-key\"] || \"\") !== CONFIG.SHARED_API_KEY) {\n  return { json: { statusCode: 401, body: { error: \"unauthorized\", code: \"no_key\" } } };\n}\nconst sessionToken = String(headersIn[\"x-session-token\"] || \"\").trim();\nif (!sessionToken) {\n  return { json: { statusCode: 401, body: { error: \"Session required\", code: \"session_missing\" } } };\n}\nif (!CONFIG.AIRTABLE_PAT || !CONFIG.AIRTABLE_BASE_ID) {\n  return { json: { statusCode: 500, body: { error: \"Airtable config missing\", code: \"airtable_config_missing\" } } };\n}\n\nconst request = this.helpers.httpRequest.bind(this.helpers);\nconst airtable = \"https://api.airtable.com/v0/\" + CONFIG.AIRTABLE_BASE_ID;\nconst headers = { Authorization: \"Bearer \" + CONFIG.AIRTABLE_PAT };\n\nconst ideaId = String($json.params?.id || \"\").trim();\nconst bodyIn = $json.body || {};\nconst kind = String(bodyIn.kind || \"\").trim();\nconst userId = String(headersIn[\"x-user-id\"] || \"\").trim();\n\nif (![\"like\", \"dislike\", \"clear\"].includes(kind)) {\n  return { json: { statusCode: 400, body: { error: \"kind doit être like, dislike ou clear\", code: \"invalid_kind\" } } };\n}\nif (!userId) {\n  return { json: { statusCode: 401, body: { error: \"User ID manquant\", code: \"user_id_missing\" } } };\n}\nif (!ideaId) {\n  return { json: { statusCode: 400, body: { error: \"ID idée manquant\", code: \"idea_id_missing\" } } };\n}\n\n// Lookup by custom {id} field (e.g. idea_recXXX)\nconst esc = (v) => String(v || \"\").replace(/'/g, \"\\\\'\");\nconst formula = \"{id} = '\" + esc(ideaId) + \"'\";\nlet ideaRecord;\ntry {\n  const data = await request({\n    method: \"GET\",\n    url: airtable + \"/\" + encodeURIComponent(CONFIG.IDEAS_TABLE) + \"?maxRecords=1&filterByFormula=\" + encodeURIComponent(formula),\n    headers,\n    json: true,\n  });\n  ideaRecord = data.records?.[0];\n} catch (e) {\n  return { json: { statusCode: 500, body: { error: \"Airtable error: \" + (e?.message || String(e)), code: \"airtable_lookup_failed\" } } };\n}\n\nif (!ideaRecord) {\n  return { json: { statusCode: 404, body: { error: \"Idée introuvable\", code: \"idea_not_found\" } } };\n}\n\nconst f = ideaRecord.fields || {};\nlet likes = [];\nlet dislikes = [];\ntry { likes = JSON.parse(f.likes || \"[]\"); } catch { likes = []; }\ntry { dislikes = JSON.parse(f.dislikes || \"[]\"); } catch { dislikes = []; }\nif (!Array.isArray(likes)) likes = [];\nif (!Array.isArray(dislikes)) dislikes = [];\n\n// Remove user from both, then re-add to the right side\nlikes = likes.filter(id => id !== userId);\ndislikes = dislikes.filter(id => id !== userId);\nif (kind === \"like\") likes.push(userId);\nif (kind === \"dislike\") dislikes.push(userId);\n\nlet updated;\ntry {\n  updated = await request({\n    method: \"PATCH\",\n    url: airtable + \"/\" + encodeURIComponent(CONFIG.IDEAS_TABLE) + \"/\" + ideaRecord.id,\n    headers,\n    body: { fields: { likes: JSON.stringify(likes), dislikes: JSON.stringify(dislikes) } },\n    json: true,\n  });\n} catch (e) {\n  return { json: { statusCode: 500, body: { error: \"Airtable error: \" + (e?.message || String(e)), code: \"airtable_update_failed\" } } };\n}\n\nconst uf = updated.fields || {};\nreturn {\n  json: {\n    statusCode: 200,\n    body: {\n      idea: {\n        id: String(uf.id || f.id || updated.id),\n        title: String(uf.title || f.title || \"\"),\n        description: String(uf.description || f.description || \"\"),\n        proposed_by_id: String(uf.proposed_by || f.proposed_by || \"\"),\n        proposed_by_name: String(uf.proposed_by_name || f.proposed_by_name || uf.proposed_by || f.proposed_by || \"\"),\n        status: String(uf.status || f.status || \"voting\"),\n        likes,\n        dislikes,\n        my_vote: kind === \"clear\" ? null : kind,\n      },\n    },\n  },\n};"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Vote on Idea",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Vote on Idea", "type": "main", "index": 0 }]]
    },
    "Vote on Idea": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "active": false,
  "meta": { "templateCredsSetupCompleted": false }
}
