n8n/ideas.create.json
{
  "name": "POST /ideas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ideas",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "20b31d69-6ec6-4844-8f04-c816b2dd2405",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "eab1d596-cd87-4e96-8731-4babc3e53463"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const CONFIG = {\n  AIRTABLE_PAT: $env.AIRTABLE_PAT || $env.AIRTABLE_API_KEY || \"\",\n  AIRTABLE_BASE_ID: $env.AIRTABLE_BASE_ID || \"\",\n  SHARED_API_KEY: $env.SHARED_API_KEY || \"\",\n  IDEAS_TABLE: $env.AIRTABLE_IDEAS_TABLE || \"Ideas\",\n};\n\nconst headersIn = $json.headers || {};\n\nif (String(headersIn[\"x-api-key\"] || \"\") !== CONFIG.SHARED_API_KEY) {\n  return { json: { statusCode: 401, body: { error: \"unauthorized\", code: \"no_key\" } } };\n}\nconst sessionToken = String(headersIn[\"x-session-token\"] || \"\").trim();\nif (!sessionToken) {\n  return { json: { statusCode: 401, body: { error: \"Session required\", code: \"session_missing\" } } };\n}\nif (!CONFIG.AIRTABLE_PAT || !CONFIG.AIRTABLE_BASE_ID) {\n  return { json: { statusCode: 500, body: { error: \"Airtable config missing\", code: \"airtable_config_missing\" } } };\n}\n\nconst request = this.helpers.httpRequest.bind(this.helpers);\nconst airtable = \"https://api.airtable.com/v0/\" + CONFIG.AIRTABLE_BASE_ID;\nconst headers = { Authorization: \"Bearer \" + CONFIG.AIRTABLE_PAT };\n\nconst userId = String(headersIn[\"x-user-id\"] || \"\").trim();\nconst userName = String(headersIn[\"x-user-name\"] || \"\").trim();\nconst bodyIn = $json.body || {};\nconst title = String(bodyIn.title || \"\").trim().slice(0, 100);\nconst description = String(bodyIn.description || \"\").trim().slice(0, 300);\n\nif (!title) {\n  return { json: { statusCode: 400, body: { error: \"Titre obligatoire\", code: \"title_required\" } } };\n}\n\nlet created;\ntry {\n  created = await request({\n    method: \"POST\",\n    url: airtable + \"/\" + encodeURIComponent(CONFIG.IDEAS_TABLE),\n    headers,\n    body: {\n      fields: {\n        title,\n        description,\n        proposed_by: userId,\n        proposed_by_name: userName,\n        status: \"voting\",\n        likes: \"[]\",\n        dislikes: \"[]\",\n      },\n    },\n    json: true,\n  });\n} catch (e) {\n  return { json: { statusCode: 500, body: { error: \"Airtable error: \" + (e?.message || String(e)), code: \"airtable_create_failed\" } } };\n}\n\nconst cf = created.fields || {};\nreturn {\n  json: {\n    statusCode: 200,\n    body: {\n      idea: {\n        id: String(cf.id || created.id),\n        title,\n        description,\n        proposed_by_id: userId,\n        proposed_by_name: userName,\n        status: \"voting\",\n        likes: [],\n        dislikes: [],\n        my_vote: null,\n      },\n    },\n  },\n};"
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Create Idea",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Create Idea", "type": "main", "index": 0 }]]
    },
    "Create Idea": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "active": false,
  "meta": { "templateCredsSetupCompleted": false }
}
