n8n/ideas.list.json
{
  "name": "GET /ideas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "ideas",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "f77f0da9-b8dc-4a95-a589-73efb28c419c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "bcfec859-cfab-4c16-9b02-19e2e3672c2d"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const CONFIG = {\n  AIRTABLE_PAT: $env.AIRTABLE_PAT || $env.AIRTABLE_API_KEY || \"\",\n  AIRTABLE_BASE_ID: $env.AIRTABLE_BASE_ID || \"\",\n  SHARED_API_KEY: $env.SHARED_API_KEY || \"\",\n  IDEAS_TABLE: $env.AIRTABLE_IDEAS_TABLE || \"Ideas\",\n};\n\nconst headersIn = $json.headers || {};\n\nif (String(headersIn[\"x-api-key\"] || \"\") !== CONFIG.SHARED_API_KEY) {\n  return { json: { statusCode: 401, body: { error: \"unauthorized\", code: \"no_key\" } } };\n}\nconst sessionToken = String(headersIn[\"x-session-token\"] || \"\").trim();\nif (!sessionToken) {\n  return { json: { statusCode: 401, body: { error: \"Session required\", code: \"session_missing\" } } };\n}\nif (!CONFIG.AIRTABLE_PAT || !CONFIG.AIRTABLE_BASE_ID) {\n  return { json: { statusCode: 200, body: { ideas: [] } } };\n}\n\nconst request = this.helpers.httpRequest.bind(this.helpers);\nconst airtable = \"https://api.airtable.com/v0/\" + CONFIG.AIRTABLE_BASE_ID;\nconst headers = { Authorization: \"Bearer \" + CONFIG.AIRTABLE_PAT };\nconst userId = String(headersIn[\"x-user-id\"] || \"\").trim();\n\n// Paginate through all ideas, sorted newest first\nlet records = [];\nlet offset;\ndo {\n  const url = airtable + \"/\" + encodeURIComponent(CONFIG.IDEAS_TABLE)\n    + \"?pageSize=100\"\n    + (offset ? \"&offset=\" + encodeURIComponent(offset) : \"\");\n  const data = await request({ method: \"GET\", url, headers, json: true });\n  records = records.concat(data.records || []);\n  offset = data.offset;\n} while (offset);\n\nconst ideas = records.map(r => {\n  const f = r.fields || {};\n  let likes = [];\n  let dislikes = [];\n  try { likes = JSON.parse(f.likes || \"[]\"); } catch { likes = []; }\n  try { dislikes = JSON.parse(f.dislikes || \"[]\"); } catch { dislikes = []; }\n  if (!Array.isArray(likes)) likes = [];\n  if (!Array.isArray(dislikes)) dislikes = [];\n\n  const myVote = userId\n    ? (likes.includes(userId) ? \"like\" : dislikes.includes(userId) ? \"dislike\" : null)\n    : null;\n\n  return {\n    id: String(f.id || r.id),\n    title: String(f.title || \"\"),\n    description: String(f.description || \"\"),\n    proposed_by_id: String(f.proposed_by || \"\"),\n    proposed_by_name: String(f.proposed_by_name || f.proposed_by || \"\"),\n    status: String(f.status || \"voting\"),\n    likes,\n    dislikes,\n    my_vote: myVote,\n  };\n});\n\nreturn { json: { statusCode: 200, body: { ideas } } };"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "List Ideas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "List Ideas", "type": "main", "index": 0 }]]
    },
    "List Ideas": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "active": false,
  "meta": { "templateCredsSetupCompleted": false }
}
