n8n/votes.list.json
{
  "name": "GET /votes",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "votes",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "eb7614aa-f6ce-471c-94a0-2b5d93835a04",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "4b7c7bf8-d593-4d67-9572-7523dc0fe837",
      "notes": "x-api-key (required), x-session-token (auth routes)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5a9dd581-6a73-434a-812e-c996f47f66f5",
              "leftValue": "={{ $json.headers[\"x-api-key\"] }}",
              "rightValue": "={{ $env.SHARED_API_KEY }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9aa2803e-93cf-4a9a-915a-25189614766b",
      "name": "API Key Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: \"unauthorized\", code: \"no_key\" }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "360c3aa8-3265-4756-a699-fe3582b1eab4",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        680,
        460
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// TODO: replace with Airtable Search on Users\n// Filter formula: AND({session_token} = \"{{ $json.headers['x-session-token'] }}\", IS_AFTER({session_expires_at}, NOW()))\n// Then return the user record under `session` so downstream nodes can reach it via $('Session Lookup').\nconst token = $json.headers[\"x-session-token\"];\nif (!token) throw new Error(\"no_session_token\");\nreturn { json: { _todo: \"wire to Airtable Users search\", token } };"
      },
      "id": "99946c7e-6b24-48f9-8703-d378e1b5e83f",
      "name": "Session Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "50fe7ddf-dd5a-465e-9b56-bb90f804114f",
              "leftValue": "={{ Boolean($json.token) }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "61975849-5f1c-45be-b798-89086838fa87",
      "name": "Session Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        820,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: \"expired\", code: \"session_invalid\" }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "7384f551-d9fb-4c84-a3f5-74646667fd2f",
      "name": "401 Session Expired",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1040,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// HANDOFF.md §3.12\n// 1. Read VoteQuestions where active = true\n// 2. For each, aggregate VoteResults rows by option → results map + total\n// 3. NEVER record who voted — my_choice comes from frontend localStorage\n// 4. Respond { questions: [{ id, question, options, results, total }] }\nreturn [{ json: { questions: [] } }];"
      },
      "id": "bc00d386-0c60-434d-b04e-e6aa5d8b11e9",
      "name": "TODO — Implement logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "4d468428-ea42-4e7a-966c-839d15db8ee3",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1120,
        200
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "API Key Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Key Guard": {
      "main": [
        [
          {
            "node": "Session Lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Lookup": {
      "main": [
        [
          {
            "node": "Session Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Guard": {
      "main": [
        [
          {
            "node": "TODO — Implement logic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 Session Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TODO — Implement logic": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "templateCredsSetupCompleted": false,
    "handoffSection": "HANDOFF.md §3"
  }
}